@media (max-width: 1140px) {
    .service__item:hover {
        width: 450px;
    }
}

@media (max-width: 1024px) {
    .header__image {
        width: 80%;
    }

    .service {
        padding-top: 250px;
    }

    .service__inner {
        flex-wrap: wrap;
    }

    .service__list {
        order: -1;
        margin-bottom: 30px;
        width: 100%;
    }

    .service__item {
        width: 90%;
    }

    .service__item:hover {
        width: 100%;
    }

    .service__content {
        margin-right: 0;
    }

    .service__content-box {
        max-width: 100%;
    }

    .benefits-title {
        margin-left: 85px;
    }

    .benefits__list {
        padding: 23px 0 25px 85px;
    }

    .contact__form {
        padding: 50px 40px 57px;
    }
}

@media (max-width: 900px) {
    .phone {
        font-size: 24px;
        line-height: 36px;
    }

    .header__title {
        font-size: 54px;
        line-height: 74px;
    }

    .header__subtitle {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .header__social {
        padding: 30px 0 20px 55px;
    }

    .service {
        padding-top: 150px;
    }

    .benefits__img {
        display: none;
    }

    .benefits__item {
        max-width: 100%;
    }

    .contact__inner {
        display: block;
    }

    .contact__info {
        padding-left: 40px;
    }

    .contact__input {
        width: 100%;
    }

    .contact_btn {
        margin-top: 30px;
    }
}

@media (max-width: 800px) {
    .benefits__list {
        padding: 23px 10px 25px 23px;
    }

}

@media (max-width: 650px) {
    .footer__inner {
        display: block;
        text-align: center;
        justify-content: center;
        height: auto;
    }
    .footer__social {
        width: 100%;
        justify-content: center;
        margin: 20px 0;
    }
}
@media (max-width: 600px) {
    body {
        font-size: 16px;
        line-height: 22px;
    }

    .header__content {
        padding-top: 0;
        text-align: center;
    }

    .social {
        justify-content: center;
    }

    .header__social {
        padding: 30px 0 20px 0px;
    }

    .title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 30px;
    }

    .benefits__inner,
    .contact__inner {
        text-align: center;
    }

    .benefits-title {
        margin-left: 0;
    }

    .benefits__item-title {
        font-size: 28px;
        line-height: 36px;
    }

    .carousel__img {
        width: 100%;
    }

    .carousel .slick-dots button {
        width: 20px;
    }

    .form-title {
        margin-left: 53px;
    }
}

@media (max-width: 520px) {
    .header__top {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .logo {
        margin-bottom: 20px;
        width: 100%;
    }

    .header__image {
        width: 100%;
        position: static;
    }

    .service {
        padding-top: 75px;
    }

    .service__inner,
    .benefits,
    .carousel {
        margin-bottom: 50px;
    }

    .service__item {
        padding: 10px 15px 10px 62px;
    }

    .service__item::before {
        left: 12px;
    }

    .button--decor::before {
        right: -50px;
        width: 70px;
    }

    .button--decor::after {
        margin-left: 110px;
    }

    .title {
        text-align: center;
    }

    .title::after {
        display: none;
    }

    .service__item {
        width: 100%;
    }

    .carousel .slick-dots button {
        width: 12px;
    }


}

@media (max-width: 360px) {
    .service {
        padding-top: 25px;
    }

    .button--decor::before,
    .button--decor::after {
        display: none;
    }

    .contact__form {
        padding: 50px 16px 57px;
    }
}

@media (max-width: 340px) {
    .header__title {
        font-size: 44px;
        line-height: 50px;
    }

}