*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #2C2B2B;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.header {
    background-image: url(../images/header-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 700px;
    color: #fff;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__top {
    padding: 47px 0 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phone {
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
}

.header__content {
    padding-top: 60px;
    position: relative;
}

.header__title {
    font-size: 72px;
    font-weight: 400;
    line-height: 95px;
    text-transform: uppercase;
}

.header__subtitle {
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.header__text {
    margin-bottom: 30px;
    max-width: 800px;
}

.button {
    width: 250px;
    height: 50px;
    background-color: #5A0D67;
    padding: 14px 54px 15px 55px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.5s ease;
}

.button:hover {
    background-color: #fff;
    color: #5A0D67
}

.social {
    display: flex;
    align-items: center;
}

.header__social {
    padding: 85px 0 20px 56px;
}

.social__link {
    padding: 0 5px;
}

.header__image {
    position: absolute;
    bottom: -270px;
    right: 0;

}

.service {
    padding-top: 350px;
}

.title {
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #21062A;
    position: relative;
}

.title::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #21062A;
    margin-left: 10px;
    top: 13px;
}

.service__inner {
    display: flex;
    margin-bottom: 100px;
}

.service__content {
    margin-right: 96px;
}

.service__content-box {
    max-width: 504px;
}

.service__content-title {
    color: #5A0D67;
    margin-bottom: 12px;
    font-weight: 300;
}

.service__content-textbox {
    margin-bottom: 57px;
}

.service__content-text {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.button--decor {
    margin-top: -7px;
    color: #fff;
    position: relative;
}

.button--decor::before {
    content: "";
    position: absolute;
    top: 27px;
    right: -75px;
    width: 80px;
    height: 1px;
    background-color: #C4C4C4;

}

.button--decor::after {
    content: "ЖМИ";
    position: absolute;
    top: 13px;
    margin-left: 127px;
    color: #C4C4C4;
}

.service__list {
    list-style: none;
    counter-reset: my-counter;
}

.service__item {
    width: 450px;
    border: 2px solid #C4C4C4;
    margin-bottom: 12px;
    transition: 0.3s all;
    counter-increment: my-counter;
    padding: 10px 15px 10px 113px;
    position: relative;
}

.service__item::before {
    content: '0' counter(my-counter);
    position: absolute;
    left: 20px;
    top: 20px;
    transform: rotate(-90deg);
    color: #C4C4C4;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.3s all;
}

.service__item:hover {
    width: 500px;
    border: 2px solid #5A0D67;
}

.service__item:hover .service__item-title {
    color: #5A0D67;
}

.service__item:hover::before {
    color: #5A0D67;
}

.service__item-title {
    font-size: 24px;
    font-weight: 300;
}

.benefits {
    margin-bottom: 100px;
}


.benefits__inner {
    display: flex;
}

.benefits__img {
    margin-right: 95px;
}

.benefits__content {
    width: 100%;
}

.benefits-title {
    margin-left: 185px;
    margin-bottom: 50px;
}

.benefits__list {
    list-style: none;
    background-color: #21062A;
    padding: 23px 0 25px 185px;
}

.benefits__item {
    margin-bottom: 20px;
    max-width: 316px;
}

.benefits__item-title {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.benefits__item-subtitle {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}

.benefits__item-text {
    color: #C4C4C4;
}

.carousel {
    margin-bottom: 100px;
}

.carousel__inner {
    margin: 0 -7px;
}


.carousel__item-box {
    border: 1px solid #C4C4C4;
    padding: 6px 6px 16px 6px;
    text-align: center;
    margin: 0 7px;
}

.carousel__item-box:hover {
    border-color: #5A0D67;
    background-color: #5A0D67;
    color: #FFF;
    transition: all 0.5s;
}

.carousel__img {
    max-width: 100%;
    margin-bottom: 20px;
}

.carousel__model {
    font-weight: 300;
    margin-bottom: 5px;
}


.carousel .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
}

.carousel .slick-dots button {
    font-size: 0;
    border: none;
    padding: 0;
    margin: 0 10px;
    background-color: #C4C4C4;
    height: 1px;
    width: 50px;
}

.carousel .slick-active button {
    background-color: #5A0D67;
    height: 3px;

}

.contact__inner {
    display: flex;
    justify-content: space-between;
}


.contact-title {
    margin: 50px 0;
}

.contact__list {
    list-style: none;
    margin-bottom: 37px;
}

.contact__item {
    margin-bottom: 20px;
}

.contact__title {
    color: #5A0D67;
}

.contact__form {
    background: #21062A;
    padding: 50px 75px 57px;
    text-align: center;
}

.form-title {
    margin-bottom: 16px;
    margin-left: 53px;
    color: #FFF;
    text-align: left;
}

.form-title::after {
    background-color: #fff;
}

.contact__input {

    background-color: transparent;
    width: 450px;
    height: 75px;
    color: #FFF;
    border: 1px solid #FFF;
    margin-bottom: 12px;
    display: block;
    font-size: 24px;
    padding: 0 30px;
    text-align: center;
}

.contact__input::placeholder {
    text-align: center;
    padding: 24px 0;
    color: #C4C4C4;
    font-family: Oswald;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.contact_btn {
    font-family: Oswald;
    font-weight: 300;
    color: #fff;
    margin-top: 78px;
    border: none;
    cursor: pointer;
}

.footer {
    background: #21062A;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 100px;
    align-items: center;
}


.footer__politic {
    color: #FFF;
}

@import url(./media.css);